{% extends 'master.html' %}
{% load static %}

{% block title %}home page{% endblock%}

{% block content %}

<section class="sec5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inbox contact-inobox">
        
                <div><h1 class="sec8">astra</h1>
                <span>pvt ltd</span></div>

                
                <h5 class="sec7">Allows individuals to acquire the goods and services they need to sustain themselves and their families.</h5>
                <p class="sec7">century tower, near calicut byepass road, palakkad
                    contact:9090987876
                </p>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="inbox">
                    <img class="sec9" src="{% static 'shake-hand.webp' %}"alt="" width="100%">
                   
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
    

