{% extends 'master.html' %}
{% load static %}

{% block title %}home page{% endblock%}

{% block content %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>addproduct</h1>
                <form action="/addproduct" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3 mt-3">
                      <label for="productname" class="form-label">productname:</label>
                      <input type="productname" class="form-control" id="productname" placeholder="Enter productname" name="pro_name">
                    </div>
                    <div class="mb-3">
                      <label for="price" class="form-label">Price:</label>
                      <input type="price" class="form-control" id="price" placeholder="Enter price" name="pro_price">
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Product image:</label>
                      <input type="file" class="form-control" id="pro_image" placeholder="product image" name="pro_image">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}