{% extends 'master.html' %}
{% load static %}

{% block title %}home page{% endblock%}

{% block content %}

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>contact</h1>
                <form action="/contact" method="post">
                    {% csrf_token %}
                    <div class="mb-3 mt-3">
                      <label for="name" class="form-label">name:</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter your name" name="contact_name">
                    </div>
                    <div class="mb-3 mt-3">
                      <label for="email" class="form-label">email:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="contact_email">
                    </div>
                    <div class="mb-3 mt-3">
                      <label for="msg" class="form-label">message:</label>
                        <textarea class="form-control" id="msg" placeholder="enter your message" name="contact_msg"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="col-sm-6">
              <div class="inbox maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.494811713763!2d76.659749174351!3d10.77336325925161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba86d671956c1eb%3A0xfac8d901b71ddb59!2sStadium%20Bus%20Stand%20Auto%20Stand!5e0!3m2!1sen!2sin!4v1711608077785!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      </div>
        </div>
    </div>
</section>

                

{% endblock %}
    

