{% extends 'master.html' %}
{% load static %}

{% block title %}home page{% endblock%}

{% block content %}
   
    <div>
        <section class="sec1">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img src="{% static 'onlineshopping.png' %}" alt="" width="100%">

                    </div>
                    <div class="col-sm banner-container">
                        <h1>NEW Arrivals</h1>
                        <h2>50% offer </h2>

                    </div>
                </div>
            </div>
        

        </section>
        <section class="sec2">
            <div class="container">
                <h4 class="cl">Clothing</h4>
                <div class="row">
                    <div class="col-sm-3">
                         <div class="inbox">
                            <img src="{% static 'women.png' %}" alt="" width="100%">
                            <span>womens clothing</span>
                            <div class="img-name">
                                <span></span>
                            </div>
                         </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="inbox">
                            
                            <img src="{% static 'kids.png' %}" alt="" width="100%">
                            <span>kids wear </span>
                                                        
                           
                            <div class="img-name">
                                
                            </div>
                         </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'men.png' %}" alt="" width="100%">
                            <div class="img-name">
                                <span>mens clothing </span>
                            </div>
                         </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'casual.png' %}" alt="" width="100%">
                            <div class="img-name">
                                <span>casual wear</span>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec3">
            <div class="container">
                <h4 class="cl">Electronics</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'monitor.png' %}" alt="" width="100%" >
                            <span>monitor</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'mobile.png' %}" alt="" width="100%">
                            <span>mobile</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'speaker.png' %}" alt="" width="100%">
                            <span>speaker</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'laptop.png' %}" alt="" width="100%">
                            <span>laptop</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec4">
            <div class="container">
                <h4 class="cl">Beauty products</h4>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'facewash.png' %}" alt="" width="100%">
                            <span>facewash</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'lipstick.png' %}" alt="" width="100%">
                            <span>lipstick</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'kajal.png' %}" alt="" width="100%">
                            <span>kajal</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="inbox">
                            <img src="{% static 'maskara.png' %}" alt="" width="100%">
                            <span>maskara</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  
       
    </div>
    
    
    {% endblock %}
    
