{% extends 'master.html' %}
{% load static %}

{% block title %}home page{% endblock%}

{% block content %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>login</h1>
                <form action="/login" method="post">
                    {% csrf_token %}

                    <div class="mb-3 mt-3">
                      <label for="username" class="form-label">username:</label>
                      <input type="username" class="form-control" id="username" placeholder="Enter username" name="login_username">
                    </div>
                    <div class="mb-3">
                      <label for="pwd" class="form-label">Password:</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="login_password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}